@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9qe4xs');
  src:  url('fonts/icomoon.eot?9qe4xs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9qe4xs') format('truetype'),
    url('fonts/icomoon.woff?9qe4xs') format('woff'),
    url('fonts/icomoon.svg?9qe4xs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-javascript:before {
  content: "\e907";
  color: #f7df1e;
}
.icon-css3:before {
  content: "\e908";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e909";
  color: #e34f26;
}
.icon-node-dot-js:before {
  content: "\e905";
  color: #393;
}
.icon-mongodb:before {
  content: "\e906";
  color: #47a248;
}
.icon-eye:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e900";
}
